# NPM
node_modules
package-lock.json

###############
# Application #
###############
# Configuration / DotEnv
.env*

# Distribution
build

# DevContainer
.spdl

# Always include .example files
!*.example